{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Finished{% endblock %}

{% block content %}


{% if opferPart %}
<div>
    Your participant ID for payment is <b>{{ group.OpferKennung }}</b>. <br>
</div>
Your earnings are <b>{{ session.OpferAuszahlungPunkte }}</b> E$ corresponding to <b>{{ group.OpferAuszahlungDKK|to0 }}</b> kr.<br>
<div><b> Please note down your participant ID {{ group.OpferKennung }} and your earnings in kr. in the receipt!</b> </div>
{% endif %}


{% if entscheiderPart %}
<div>
    Your participant ID for payment is <b>{{ group.EntscheiderKennung }}</b>. <br>
</div>
Your earnings are <b>{{ session.EntscheiderAuszahlungPunkte }}</b> E$ corresponding to <b>{{ group.EntscheiderAuszahlungDKK|to0 }}</b> kr.<br>
<div><b> Please note down your participant ID {{ group.EntscheiderKennung }} and your earnings in kr. in the receipt!</b> </div>
{% endif %}

<div>Have you filled in and <b>signed</b> the consent form?</div>
<div>Please remain seated until the experiment is called to an end.</div> <br>

<b>Thank you very much for your participation!</b>

<br>



<!--{% next_button %}-->

{% endblock %}
