{{ extends "global/Page.html" }}
{{ load otree }}

{{ block title }}Task Part{{ endblock }}

{{ block content }}

<div>In the Task Part, you will see a series of <b>words</b> (combinations of letters), each consisting of three capital letters. Your task is to encode each word by replacing each letter with a corresponding 3-digit number according to a provided code. You may <b>work at your own pace</b> within a <b>seven minute time frame</b>. Make sure to manage your time effectively to maximize your earnings.</div>
<br>
<div>How to encode: Each of 24 letters in the alphabet is linked to a specific 3-digit number. You will be presented with one word at a time. You will use a reference table above the word to find the correct number for each letter.</div>
<div>Please consider the following screenshot for an <b>example</b>.</div>
<img style=" max-width: 100%;height: auto;" src="{% static "ExampleE.jpg" %}">
<div>In this example, the word is BDF. According to the reference table, B = 618, D = 442, and F = 395. In the screenshot, “595288901” has already been entered in the field below the word.</div>
<br>
<div>When the code for the word is complete, it needs to be confirmed by clicking on the <b>“OK” button, or</b> by pressing the <b>“Enter” key</b>. If the code is incorrect, the computer will prompt you to correct it. After wrong inputs, the current word to encode will not change until a correct input is made. </div>
<br>
<div>Once you successfully encode a word, the computer will provide a new word to encode. This process will continue for <b>seven minutes (420 seconds)</b>, with the table remaining the same throughout. At the top of the page, you see the remaining time. </div>
<br>
<b>Earning Money</b>
<br>
<br>
<div>You will earn a <b>payment per word</b> that you encoded correctly. In the top-right corner of the page, you see the number of words encoded so far. You receive £ [parameter1] for each encoded word. In addition, you will also receive a fixed amount of  £ [parameter2], irrespective of the number of words encoded.</div>
<br>
<div>Note that only you will benefit financially from your work; neither the experimenters nor anyone else will derive earnings from your efforts. The numbers that you input serve no purpose beyond this task.</div>
<br>
<b>Concluding the experiment</b>
<br><br>
<div>When the seven minutes are over, you will automatically see the questionnaire (which takes about 1 minute to complete). When the questionnaire is completed, you will automatically see a message informing you about your earnings. The message also includes the <u>Prolific link that you need to click to validate your participation</u>.</div>
<br>
<br>
<b>Practice Part</b>
<br><br>
<div>In the Practice Part, we ask you to code two words to familiarize yourself with the task and to answer one comprehension question. You have three attempts to enter each code and answer the comprehension question correctly. Using more than three attempts will end the experiment for you, and you will only receive a fixed payment of £ 0.45 Note that in the Practice Part, no additional earnings are awarded for correct answers.</div>
<br>
<br>
    <i>
<div> This is the end of the instructions.
<br>I confirm that I have read the instructions carefully and that I am ready to start the Practice Part.
        </i></div>
    <br>
    <br>
{{ next_button }}

{{ endblock }}
