{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Quiz{{ endblock }}

{{ block app_scripts }}
<!-- Soll nicht zurück springen können -->
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{{ endblock }}

{{ block content }}



<!--<div id="imagePlaceholder"> <img src="{% static "KodierungsTabelle.jpg" %}" alt="Table not found"></div>-->
<div style="text-align: left;">Here you see <b>example information</b> on ..., similar to the screen you will see in ... round.</div>
<br><br>
<div>

    <table border="1" style="width:100%; text-align:center; border-collapse: collapse;">
        <tr>
            <td><b>A</b>: 222</td><td><b>B</b>: 884</td><td><b>C</b>: 527</td><td><b>D</b>: 458</td> <td><b>E</b>: 290</td><td><b>F</b>: 763</td><td><b>G</b>: 318</td><td><b>H</b>: 396</td>
        </tr>
        <tr>
            <td style="border-left: 1px solid white;border-right: 1px solid white;" colspan="8">&nbsp</td>
        </tr>
        <tr>
            <td><b>I</b>: 581</td><td><b>J</b>: 279</td><td><b>K</b>: 168</td><td><b>L</b>: 289</td> <td><b>M</b>: 474</td><td><b>N</b>: 625</td><td><b>O</b>: 540</td><td><b>P</b>: 601</td>
        </tr>
        <tr>
            <td style="border-left: 1px solid white;border-right: 1px solid white;" colspan="8">&nbsp</td>
        </tr>
        <tr>
            <td><b>R</b>: 258</td><td><b>S</b>: 921</td><td><b>T</b>: 375</td><td><b>U</b>: 753</td> <td><b>V</b>: 471</td><td><b>W</b>: 187</td><td><b>X</b>: 244</td><td><b>Y</b>: 555</td>
        </tr>

    </table>
</div>

<table style="width:1000px;">
    <tr><td colspan="3" class="td2nichtbold">Here you see <b>example information</b> on ..., similar to the screen you will see in ... round.</td></tr>

    <tr><td colspan="3" class="td2nichtbold">Please select the correct answers to the two questions below to check your understanding.
        <br> After the quiz, ... will start.</td></tr><br>
    <tr><td colspan="3" class="td3">&nbsp;</td></tr>
    <tr><td colspan="3" class="td3"><b>1)</b> How would you encode <b>ABC</b>?</td></tr>
    <tr style="border: 3px solid #000;">

        <td colspan="1">
            <b>A</b>
        </td>
        <td colspan="1">
            <b>B</b>
        </td>
        <td colspan="1">
            <b>C</b>
        </td>

    </tr>
    <tr style="border: 3px solid #000;">
        <td>111222333</td>
        <td>222884527</td>
        <td>ABC</td>
    </tr>
    <tr style="border-top: 3px none #000;">

        <td class="td4" colspan="3">
            <b>{% formfield player.QuizKodieren1 %}</b>
        </td>

    </tr>


    <tr><td colspan="3" class="td3"><b>2)</b> How would you encode <b>AYN</b>?</td></tr>
    <tr colspan="3" style="border: 3px solid #000;">

        <td colspan="1">
            <b>A</b>
        </td>
        <td colspan="1">
            <b>B</b>
        </td>
        <td colspan="1">
            <b>C</b>
        </td>

    </tr>
    <tr style="border: 3px solid #000;">
        <td>222555777</td>
        <td>AYN</td>
        <td>222555931</td>
    </tr>
    <tr style="border-top: 3px none #000;">

        <td colspan="3" class="td4">
            <b>{% formfield player.QuizKodieren2 %}</b>
        </td>

    </tr>

    <tr><td colspan="3" class="td3"><b>3)</b> ... BEZAHLUNG ...?</td></tr>
    <tr colspan="3" style="border: 3px solid #000;">

        <td colspan="1">
            <b>A</b>
        </td>
        <td colspan="1">
            <b>B</b>
        </td>
        <td colspan="1">
            <b>C</b>
        </td>

    </tr>
    <tr style="border: 3px solid #000;">
        <td>10</td>
        <td>100</td>
        <td>50</td>
    </tr>
    <tr style="border-top: 3px none #000;">

        <td colspan="1" class="td4">
            <b>{% formfield player.QuizBezahlung %}</b>
        </td>
    </tr>

</table>


{% next_button %}

{{ endblock }}
