{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Finished{% endblock %}

{% block content %}
<br>


</div>
Your earnings: You correctly estimated <b>{{ player.participant.VerdientePunkte }} </b> tasks, which  corresponds to <b>{{ player.participant.payoff|to2 }}</b>.
    <br>
<div>To ensure you receive payment, please click the following link to return to Prolific: <a href="https://app.prolific.com/submissions/complete?cc=CC1LPFS5">Back to Prolific</a>.
    <br>If you experience any issues with the link, you can use the survey code: <b>CC1LPFS5</b>.</div> <br>


<b>Thank you very much for your participation!</b>

<br>




<!--{% next_button %}-->

{% endblock %}
