{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Finished{% endblock %}

{% block content %}
<br>


</div>
Your **** FALSCH earnings are  <b>{{ player.participant.VerdientePunkte }} </b> E$ ** FALSCH EVTL BESSER: correctly estimated <b>{{ player.participant.VerdientePunkte }} </b> tasks corresponding to <b>{{ player.participant.payoff|to2 }}</b>.


    <br>
*** EVTL FALSCH **+
<div>To return to Prolific <b>and ensure payment</b>, please click this link: </div>
*** EVTL FALSCH! Evtl. Besser **+

<div>To confirm that you finished the study and <b>get paid</b>, click the following link <a href="https://app.prolific.com/submissions/complete?cc=C1D5Z8XY">Back to Prolific</a>. Otherwise the study will not be remunerated. If you have problems with the link, you can use the survey code <b>C1D5Z8XY</b>.</div> <br>

<div>Please remain seated until the experiment is called to an end.</div> <br>

<b>Thank you very much for your participation!</b>

<br>




<!--{% next_button %}-->

{% endblock %}
