{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Project information and decision <br>{{player.participant.zugeordneteRole}} XXXXXX soll 5 sein XXXXXXXXX T3 alt XXXXXXXXXXXXXXXXX{{ endblock }}

{{ block content }}
<div>Estimate {{player.round_number}} of {{ Constants.num_rounds }}</div>


</div>

<form>
    <style> img { max-width: 100%; height: auto; } </style>

    <table class="B-container">
        <tr>
            <td colspan="2">
                <img src="{% static "HistogramsBoth.jpg" %}">
            </td>
        </tr>

        <!-- 2 leere Zeilen als Abstand -->

        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>

        <!-- 2 leere Zeilen als Abstand ENDE -->
        <!-- Beide zusammen -->
        <tr>

            <td style="text-align: right;">The team of two workers solved a total of: </td>
            <td style="text-align: left;font-size: 120%"><b>{% summe %} tasks</b> </td>
        </tr>
        <!-- 1 leere Zeile als Abstand -->
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <!-- Worker 1 HIER FEST DER Alte-->
        <tr>
            <td style="text-align: right;">
                <label for="aktuellesErgebnisTWSSpieler1_Schaetzung"><b>Your estimate for older Worker</b>&nbsp;&nbsp;</label>
            </td>
            <td style="text-align: left;">
                <input type="number" id="aktuellesErgebnisTWSSpieler1_Schaetzung" name="aktuellesErgebnisTWSSpieler1_Schaetzung" value="{{ aktuellesErgebnisTWSSpieler1_Schaetzung }}" max="{% summe %}">
            </td>
        </tr>
        <!-- 1 leere Zeile als Abstand -->
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <!-- Worker 2 HIER IMMER DER Junge-->
        <tr>
            <td  style="text-align: right;">
                 <b> Your estimate for the younger Worker </b>&nbsp;&nbsp;<br>(automatically calculated)&nbsp;&nbsp;
            </td>
            <td  style="text-align: left;">
                 <input type="text" id="calculated_field" style="background-color: #f0f0f0;" readonly>
            </td>
        </tr>


        <!-- 2 leere Zeilen als Abstand -->

        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>

        <script>
            document.getElementById("aktuellesErgebnisTWSSpieler1_Schaetzung").focus();
        </script>

    </table>

    {{ next_button }}


</form>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var inputField = document.getElementById('aktuellesErgebnisTWSSpieler1_Schaetzung');
            var calculatedField = document.getElementById('calculated_field');
            var summeUebergeben =  {{ summe }};

            if (inputField) {
                inputField.addEventListener('input', function() {
                    var inputValue = inputField.value;
                    var parsedValue = parseInt(inputValue) || 0;
                    var calculatedValue = summeUebergeben - parsedValue;
                    calculatedField.value = calculatedValue;
                });
            } else {
                console.error('Element with ID aktuellesErgebnisTWSSpieler1_Schaetzung not found.');
            }
        });

        <!-- Soll nicht zurück springen können -->
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}
    </script>



{{ endblock }}
