{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Project information and decision XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX{{ endblock }}

{{ block content }}
<div>$$$$$$$$$ Runde {{player.round_number}} von {{ Constants.num_rounds }}</div>


</div>

<form>


    <table class="B-container">
        <tr>
            <td>
                <img src="{% static "DiagrammT1.jpg" %}">
            </td>
        </tr>


        <tr>
            <td>
                <table class="B-container">
                    <tr>
                        <td>****** Zusammen wurde erwirtschaftet ******: {% summe %}</td>
                    </tr>
                    <tr>

                        <td>
                            <label for="aktuellesErgebnisTWSSpieler1_Schaetzung">Your Guess for P1</label>

                        </td>
                        <td>
                            <input type="number" id="aktuellesErgebnisTWSSpieler1_Schaetzung" name="aktuellesErgebnisTWSSpieler1_Schaetzung" value="{{ aktuellesErgebnisTWSSpieler1_Schaetzung }}">
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <b>**** AUTOMATISCH BERECHNET ****** </b>

                        </td>
                        <td>

                            <input type="text" id="calculated_field" readonly>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>

    {{ next_button }}


</form>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var inputField = document.getElementById('aktuellesErgebnisTWSSpieler1_Schaetzung');
            var calculatedField = document.getElementById('calculated_field');
            var summeUebergeben =  {{ summe }};

            if (inputField) {
                inputField.addEventListener('input', function() {
                    var inputValue = inputField.value;
                    var parsedValue = parseInt(inputValue) || 0;
                    var calculatedValue = summeUebergeben - parsedValue;
                    calculatedField.value = calculatedValue;
                });
            } else {
                console.error('Element with ID aktuellesErgebnisTWSSpieler1_Schaetzung not found.');
            }
        });

        <!-- Soll nicht zurück springen können -->
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}
    </script>



{{ endblock }}
