{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Provide your estimate{{ endblock }}

{{ block content }}
<div>Estimate {{player.round_number}} of {{ Constants.num_rounds }}</div>


</div>

<form>
    <style>
        img {
          max-width: 100%;
          height: auto;
        }

        /* Stile für das modale Fenster */
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 60px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
          margin: auto;
          display: block;
          width: 200%;
          max-width: 1400px;
        }

        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #fff;
          font-size: 40px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }

    </style>

    <table class="B-container">
        <tr>
            <td colspan="2">
                <div>
                    <a href="javascript:void(0)" onclick="openModal()">
                        <img src="{% static 'HistogramAll.jpg' %}" alt="Histogram">
                    </a>
                </div>
                <!-- Modales Fenster -->
                <div id="myModal" class="modal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>
            </td>
        </tr>

        <!-- 2 leere Zeilen als Abstand -->

        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;The workers were recruited from the UK, one worker from age group 22 to 29, and one worker from age group 52 to 59.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>


        <!-- 2 leere Zeilen als Abstand ENDE -->
        <!-- Beide zusammen -->
        <tr>

            <td style="text-align: right;">The team of two workers solved a total of: </td>
            <td style="text-align: left;font-size: 120%"><b>{% summe %} tasks</b>. </td>
        </tr>
        <!-- 1 leere Zeile als Abstand -->
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <!-- Worker 1 HIER FEST DER JUNGE-->
        <tr>
            <td style="text-align: right;">
                <label for="aktuellesErgebnisTWSSpieler1_Schaetzung"><b>Your estimate for younger Worker</b>&nbsp;&nbsp;</label>
            </td>
            <td style="text-align: left;">
                <input type="number" id="aktuellesErgebnisTWSSpieler1_Schaetzung" name="aktuellesErgebnisTWSSpieler1_Schaetzung" value="{{ aktuellesErgebnisTWSSpieler1_Schaetzung }}" max="{% summe %}">
            </td>
        </tr>
        <!-- 1 leere Zeile als Abstand -->
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <!-- Worker 2 HIER IMMER DER ALTE-->
        <tr>
            <td  style="text-align: right;">
                 <b> Your estimate for the older Worker </b>&nbsp;&nbsp;<br>(automatically calculated)&nbsp;&nbsp;
            </td>
            <td  style="text-align: left;">
                 <input type="text" id="calculated_field" style="background-color: #f0f0f0;" readonly>
            </td>
        </tr>


        <!-- 2 leere Zeilen als Abstand -->

        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>

        <script>
            document.getElementById("aktuellesErgebnisTWSSpieler1_Schaetzung").focus();
        </script>

    </table>

    {{ next_button }}


</form>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var inputField = document.getElementById('aktuellesErgebnisTWSSpieler1_Schaetzung');
            var calculatedField = document.getElementById('calculated_field');
            var summeUebergeben =  {{ summe }};

            if (inputField) {
                inputField.addEventListener('input', function() {
                    var inputValue = inputField.value;
                    var parsedValue = parseInt(inputValue) || 0;
                    var calculatedValue = summeUebergeben - parsedValue;
                    calculatedField.value = calculatedValue;
                });
            } else {
                console.error('Element with ID aktuellesErgebnisTWSSpieler1_Schaetzung not found.');
            }
        });

        <!-- Soll nicht zurück springen können -->
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}

            function openModal() {
                document.getElementById('myModal').style.display = "block";
                document.getElementById('modalImage').src = "{% static 'HistogramAll.jpg' %}";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

    </script>



{{ endblock }}
