{% extends "global/Page.html" %}
{% load otree %}

{% block app_styles %}
<style>
table {
	border-width:middle;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    table-layout:fixed;
    border-collapse: collapse;
    border-spacing:2px;
}

.divAbstand5 {
    margin-bottom: 5px;
}

.divUeberschrift {
    margin: 2%;
    text-align: left;
    font-weight: bold;
    font-size: 120%
}

.divRole {
    margin-bottom: 1%;
}

.divCenter {
    text-align:center;
    font-weight:bold;
    padding: 2%;
}

.div label {
    display: block;
    text-align: center;
    font-weight: bold;
}

.l2 {
    display: block;
    text-align: center;
    text-size: large;
    font-weight: bold;
}


td {
	font-style: italic;
	text-align: center;
    border: 1px solid;
    border-right: 3px solid #000;
/*	box-shadow: inset 1px 3px 3px -3px rgba(0, 0, 0, 0.5); */
}


.td2nichtbold {
	text-align: left;
	font-style: normal;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td2 {
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td3 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td4 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: medium;
    border: 1px none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.td4c {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
    border: 1px none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.groesser {
    font-size: 120%
}


       body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        #display, #inputField {
            margin: 20px auto;
            padding: 10px;
            border: 2px solid #00f;
            border-radius: 10px;
            display: block;
            width: 300px;
            height: 50px;
            vertical-align: middle;
        }
        #display {
            font-size: 2em;
            text-align: center;
        }
        #inputField {
            font-size: 2em;
            text-align: center;
        }
        #timer {
            position: absolute;
            top: 20px;
            right: 20px;
            display: inline-block;
            text-align: center;
            font-size: 2em;
        }
        #score {
            font-size: 1em;
            position: absolute;
            top: 70px;
            right: 20px;
            display: inline-block;
            text-align: center;
        }
        .blink {
            animation: blink 1s step-end infinite;
        }
        @keyframes blink {
            from, to {
                visibility: visible;
            }
            50% {
                visibility: hidden;
            }
        }
        #compareButton {
            margin: 20px;
            padding: 10px 20px;
            border: 2px solid #00f; /* Blaue Umrandung */
            border-radius: 10px;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        #abortButton {
            margin: 20px;
            padding: 10px 20px;
            border: 2px solid #f00; /* Rote Umrandung */
            border-radius: 10px;
            background-color: #ffe6e6; /* Leicht rotes Hintergrund */
            cursor: pointer;
        }
        #feedback {
            font-size: 1.5em;
            margin-top: 20px;
        }
        #imagePlaceholder {
            width: 100%;
            height: 300px;
            margin-bottom: 25px;
        }

       .otree-timer {
            display: none;
        }


       .B-container {
            width: 100%;
            border-collapse: collapse; /* Entfernt die Rahmen der Tabelle */
        }
       .B-container td {
            border: none; /* Entfernt die Rahmen der Zellen */
        }


        img {
          max-width: 100%;
          height: auto;
        }

        /* Stile für das modale Fenster */
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 60px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
        }

        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #fff;
          font-size: 40px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }


</body>
</html>



</style>
{% endblock %}

{% block content %}





Diese Seite ist eine CSS-Vorlage und soll nie angezeigt werden.



{% endblock %}
