{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Quiz Frage 1{% endblock %}


{% block app_styles %}
<style>
table {
	border-width:middle;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    table-layout:fixed;
    border-collapse: collapse;
    border-spacing:2px;
}

.divAbstand5 {
    margin-bottom: 5px;
}

.divUeberschrift {
    margin: 2%;
    text-align: left;
    font-weight: bold;
    font-size: 120%
}

.divRole {
    margin-bottom: 1%;
}

.divCenter {
    text-align:center;
    font-weight:bold;
    padding: 2%;
}

.div label {
    display: block;
    text-align: center;
    font-weight: bold;
}

.l2 {
    display: block;
    text-align: center;
    text-size: large;
    font-weight: bold;
}


td {
	font-style: italic;
	text-align: center;
    border: 1px solid;
    border-right: 3px solid #000;
/*	box-shadow: inset 1px 3px 3px -3px rgba(0, 0, 0, 0.5); */
}


.td2nichtbold {
	text-align: left;
	font-style: normal;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td2 {
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td3 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: medium;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.td4 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: medium;
    border: 1px none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.td4c {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
    border: 1px none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

tbody tr:hover,
tfoot tr:hover {
	background-color: #fffbf0;
}

tbody td:hover,
tfoot td:hover {
	background-color: #fce4a2;
}
</style>
{% endblock %}

{% block content %}





Diese Seite ist eine CSS-Vorlage und soll nie angezeigt werden.



{% endblock %}
