
{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Quiz{{ endblock }}

{{ block app_scripts }}
<!-- Soll nicht zurück springen können -->
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{{ endblock }}

{{ block content }}

<table style="width:1000px;">
    <tr><td colspan="12" class="td2nichtbold">Here you see <b>example information</b> on six Projects A-F, similar to the screen you will see in a decision-making round.</td></tr>

    <tr><td colspan="12" class="td2nichtbold">Please select the correct answers to the two questions below to check your understanding. <br> After the quiz, the ten decision-making rounds will start.</td></tr><br>
    <tr><td colspan="12" class="td3">&nbsp;</td></tr>
    <tr style="border-top: 3px solid #000;">

        <td colspan="2" style="border-left: 3px solid #000;">
            <b>Project A</b>
        </td>
        <td colspan="2">
            <b>Project B</b>
        </td>
        <td colspan="2">
            <b>Project C</b>
        </td>
        <td colspan="2">
            <b>Project D</b>
        </td>
        <td colspan="2">
            <b>Project E</b>
        </td>
        <td colspan="2">
            <b>Project F</b>
        </td>
    </tr>
    <tr style="border-top: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">Player X</td>
        <td>Player Z</td>
    </tr>
    <tr style="border-bottom: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{50}}</td>
        <td>{{190}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{80}}</td>
        <td>{{140}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{200}}</td>
        <td>{{40}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{140}}</td>
        <td>{{80}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{40}}</td>
        <td>{{200}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{190}}</td>
        <td>{{50}}</td>
    </tr>
    <tr><td colspan="12" class="td2">What message do you recommend to Player X?</td></tr>
    <tr style="border: 3px transparent;">

        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message A</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message B</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message C</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message D</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message E</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message F</b>
        </td>
    </tr>
    <tr><td colspan="12" class="td3">&nbsp;</td></tr>
    <tr><td colspan="12" class="td3"><b>1)</b> If you recommend <b>Message A</b>, your payoff in that round is:</td></tr>
    <tr style="border-top: 3px none #000;">

        <td colspan="6" class="td4">
            <b>{{formfield 'Quiz1' label=" "}}</b>
        </td>
        <td colspan="6" class="td4">
            &nbsp;
        </td>
    <tr><td colspan="12" class="td3"><b>2)</b> If Player Z implements <b>Project A</b> </td></tr>
    <td colspan="6" class="td4">
        <b>{{formfield 'Quiz2' label=" "}}</b>
    </td>
    <td colspan="6" class="td4">
        &nbsp;
    </td>

    </tr>
</table>

{% next_button %}

{{ endblock }}
