{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Your Role and Decisions{{ endblock }}

{{ block content }}
<div class="divUeberschrift">Your role
</div>
<div class="divRole">A random procedure has predetermined whether each participant is part of <b>a pair (Player X and Player Y)</b> or an <b>individual decision-maker (Player Z)</b>.
</div><div class="divRole">This random procedure assigned you to be
</div><div class="divCenter">Player Y.
</div><div class="divRole">The assignment as Player X, Player Y, or Player Z will remain the same throughout the session.

</div><div class="divRole">In this experiment, there will be 10 decision making rounds. In each round, a pair consisting of Player X and Player Y will make decisions, which, together with the decision of the Player Z, determine each participant’s payoff in a given round.
</div><div class="divRole">In each of the 10 decision making rounds, you and a Player Y- and a Player Z-participant will be randomly grouped. The identity of other participants in the group of three can change from round to round.
</div><div class="divRole">You will not learn of the identity of the other participants in your group. None of the other participants in your group will learn of your identity.

    <div class="divUeberschrift">Your decision and others' decisions
    </div>

</div><div class="divRole">You and Player X receive identical information about the payoffs associated with six different Projects (Projects A-F).
</div><div class="divRole">The six Projects A-F may differ regarding the payoffs they offer to Player X and to Player Z. <b>Your payoff as Player Y is fixed at 70 E$ in each round, independent of which Project is implemented.</b>
</div><div class="divRole"><b>The decision which Project is implemented is made by Player Z.</b>
</div><div class="divRole">The <b>only</b> information that Player Z will have for making the decision which Project to implement is the wording of a message that <b>Player X</b> sends to him or her.
</div><div class="divRole">The messages that Player X can send to Player Z read:
    <div class="divRole"><ul><li>Message A: &quot;Project A will earn you most.&quot;</li>
    <li>Message B: &quot;Project B will earn you most.&quot;</li>
    <li>Message C: &quot;Project C will earn you most.&quot;</li>
    <li>Message D: &quot;Project D will earn you most.&quot;</li>
    <li>Message E: &quot;Project E will earn you most.&quot;</li>
    <li>Message F: &quot;Project F will earn you most.&quot;</li></ul>
    </div>

</div><div class="divRole"><b>Your role:</b> After seeing the information about Projects A-F, you make a recommendation to Player X which message he or she should send to Player Z.</div>
</div><div class="divRole">After receiving your recommendation, Player X decides which message he/she sends to Player Z.
</div><div class="divRole">After receiving the message that Player X has sent, Player Z decides which of the six Projects is implemented.




    <br>

{{ formfields }}

{{ next_button }}

{{ endblock }}
