{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Your Role and Assignment{{ endblock }}

{{ block content }}
sd
<div class="divRole">A random procedure has predetermined whether each participant is part of a pair (Player X or Player Y) or an individual decision-maker (Player Z).
</div><div class="divRole">This random procedure assigned you to be
</div><div class="divCenter">Player X.
</div><div class="divRole">The assignment as Player X, Player Y, or Player Z will remain the same throughout the session.
</div><div class="divRole">In this experiment, there will be 10 decision making rounds. In each round, a pair consisting of Player X and Player Y will make decisions, which, together with the decision of the Player Z, determine each participant’s payoff in a given round.
</div><div class="divRole">In each of the 10 decision making rounds, you and a Player Y- and a Player Z-participant will be randomly grouped. The identity of other participants in the group of three can change from round to round.
</div><div class="divRole">You will not learn of the identity of the other participants in your group. None of the other participants in your group will learn of your identity.
</div><div class="divRole">You and Player Y receive identical information about the payoffs associated with six different projects (Projects A-F).
</div><div class="divRole">The six Projects A-F may differ the earnings associated with them.
</div><div class="divRole">Note that for each project, the Player Y’s payoff is always 80% of your payoff.
</div><div class="divRole">Player Z chooses whether to implement Project A or Project B or Project C or Project D or Project E or Project F.
</div><div class="divRole">The only information that Player Z will have for making the decision which project to implement is the wording of a message that you send to him.

</div><div class="divRole">After receiving the information about projects A-F, Player Y makes a recommendation to you about which message to send to the Player Z.
</div><div class="divRole">After receiving Player Y’s recommendation, you decide which message is sent to Player Z.
</div><div class="divRole">After receiving the message that you chose, Player Z will decide which one of the six projects is implemented.
</div><div class="divRole">The messages you can send to Player Z read:
</div><div class="divRole"><ul>
    <li>Message A: &quot;A will earn you most.&quot;</li>
    <li>Message B: &quot;B will earn you most.&quot;</li>
    <li>Message C: &quot;C will earn you most.&quot;</li>
    <li>Message D: &quot;D will earn you most.&quot;</li>
    <li>Message E: &quot;E will earn you most.&quot;</li>
    <li>Message F: &quot;F will earn you most.&quot;</li>

</ul>
</div>
    <br>

{{ formfields }}

{{ next_button }}

{{ endblock }}
