
{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Questions{{ endblock }}

{{ block app_scripts }}
<!-- Soll nicht zurück springen können -->
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{{ endblock }}

{{ block content }}

<table style="width:1000px;">
    <tr><td colspan="12" class="td2">Project information for the last round was:</td></tr>
    <tr style="border-top: 3px solid #000;">

        <td colspan="2" style="border-left: 3px solid #000;">
            <b>Project A</b>
        </td>
        <td colspan="2">
            <b>Project B</b>
        </td>
        <td colspan="2">
            <b>Project C</b>
        </td>
        <td colspan="2">
            <b>Project D</b>
        </td>
        <td colspan="2">
            <b>Project E</b>
        </td>
        <td colspan="2">
            <b>Project F</b>
        </td>
    </tr>
    <tr style="border-top: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>Z-participant</td>
    </tr>
    <tr style="border-bottom: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.0}}</td>
        <td>{{auszahlung.1}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.2}}</td>
        <td>{{auszahlung.3}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.4}}</td>
        <td>{{auszahlung.5}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.6}}</td>
        <td>{{auszahlung.7}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.8}}</td>
        <td>{{auszahlung.9}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.10}}</td>
        <td>{{auszahlung.11}}</td>
    </tr>
    <tr><td colspan="12" class="td3">&nbsp;</td></tr>
    <tr><td colspan="12" class="td3">You recommended that Player X should choose Project <b>{{empfehlung}}</b></td></tr>
    <tr><td colspan="12" class="td3"><b>1)</b> What do you think is the likelihood that Player X chooses each of the six Projects? Please assign integer numbers adding to 100 to the six alternatives where “0” indicates that you are sure that Player X does not choose the Project, and “100” indicates that you are sure that Player X chooses the Project. </td></tr>
    <tr style="border-top: 3px none #000;">

        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1A' label="Project A"}}</b>
        </td>
        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1B' label="Project B"}}</b>
        </td>
        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1C' label="Project C"}}</b>
        </td>
        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1D' label="Project D"}}</b>
        </td>
        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1E' label="Project E"}}</b>
        </td>
        <td colspan="2" class="td4">
            <b>{{formfield 'Frage1F' label="Project F"}}</b>
        </td>
    <tr><td colspan="12" class="td3"><b>2)</b> Did your expectation regarding the likelihood that Player X would choose Project <b>{{empfehlung}}</b> affect your decision? </td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage2' label=" "}}</td></tr>
    <tr><td colspan="12" class="td3"><b>3)</b> Why did you recommend Project <b>{{empfehlung}}</b>? </td></tr>
    <tr><td colspan="12" class="td3">{{formfield 'Frage3' label=" "}}</td></tr>
    <tr><td colspan="12" class="td3"><b>4)</b> I feel responsible for the payoff of Player X. </td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage4' label=" "}}</td></tr>
    <tr><td colspan="12" class="td3"><b>5)</b> Project <b>{{empfehlung}}</b> will be implemented if Player Z implements this project. Please adjust the slide control, so that it shows how guilty you would feel if this happens?</td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage5' label=" "}}</td></tr>
    <tr><td colspan="12" class="td3"><b>6)</b> Project <b>{{empfehlung}}</b> will be implemented if Player Z implements this project. Please adjust the slide control, so that it shows how you would perceive your responsibility as well as the responsibility of player X and player Z in a scenario in which Project <b>{{empfehlung}}</b> is implemented. </td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage61' label=" "}}</td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage62b' label=" "}}</td></tr>
    <tr><td colspan="12" class="td4">{{formfield 'Frage63' label=" "}}</td></tr>
    </tr>
</table>

{% next_button %}

{{ endblock }}
