{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Project information and decision{{ endblock }}

{{ block app_scripts }}
<!-- Soll nicht zurück springen können -->
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{{ endblock }}

{{ block content }}

<div>
    You are the member of your group of G-participants <<< ???  who receives the information on the indicative votes of the four other group members.<br> Your vote determines whether Message A, Message B or Message C will be sent.
</div>

<table style="width:1000px;">
    <tr><td colspan="12" class="td2">Project information</td></tr>
    <tr style="border-top: 3px solid #000;">

        <td colspan="2" style="border-left: 3px solid #000;">
            <b>Project A</b>
        </td>
        <td colspan="2">
            <b>Project B</b>
        </td>
        <td colspan="2">
            <b>Project C</b>
        </td>
        <td colspan="2">
            <b>Project D</b>
        </td>
        <td colspan="2">
            <b>Project E</b>
        </td>
        <td colspan="2">
            <b>Project F</b>
        </td>
    </tr>
    <tr style="border-top: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">You</td>
        <td>I-participant</td>
    </tr>
    <tr style="border-bottom: 3px solid #000;">
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.0}}</td>
        <td>{{auszahlung.1}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.2}}</td>
        <td>{{auszahlung.3}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.4}}</td>
        <td>{{auszahlung.5}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.6}}</td>
        <td>{{auszahlung.7}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.8}}</td>
        <td>{{auszahlung.9}}</td>
        <td style="border-left: 3px solid #000;border-right: 1px solid #000;">{{auszahlung.10}}</td>
        <td>{{auszahlung.11}}</td>
    </tr>
    <tr><td colspan="12" class="td2">******** Berater voted to send you the Message <b>{{ beraterEmpfehlung }}</b> </td></tr>
    <tr><td colspan="12" class="td2">Which message do you want to send to the Z-participant?</td></tr>
    <tr style="border: 3px transparent;">

        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message A</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message B</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message C</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message D</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message E</b>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <b>Message F</b>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border: 3px solid #FFF;padding-top:10px;padding-bottom:10px">
            <button name="Entscheidung" value="A" class="btn btn-primary btn-large">Project A earns you most.</button>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <button name="Entscheidung" value="B" class="btn btn-primary btn-large">Project B earns you most.</button>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <button name="Entscheidung" value="C" class="btn btn-primary btn-large">Project C earns you most.</button>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <button name="Entscheidung" value="D" class="btn btn-primary btn-large">Project D earns you most..</button>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <button name="Entscheidung" value="E" class="btn btn-primary btn-large">Project E earns you most.</button>
        </td>
        <td colspan="2" style="border: 3px solid #FFF;">
            <button name="Entscheidung" value="F" class="btn btn-primary btn-large">Project F earns you most.</button>
        </td>
    </tr>
</table>



{{ endblock }}
