{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Finished{% endblock %}

{% block content %}
<br>



    <p>Your earnings: Your hired workers completed <b>{{ player.participant.VerdientePunkte }}</b> tasks. 
        You earned <b>{{ player.participant.payoff|to2 }}</b> in total, consisting of the fixed amount of <b>&pound;{{ Constants.festerAnteilDerBezahlung|to2 }}</b> and a bonus of <b>&pound;{{ player.participant.bonus|to2 }}</b>.
    </p>
    <p>
        {% if player.participant.zugeordneteRole == 1 %}
        <p>Moreover, we will transfer a bonus of &pound; 0.10 to each of the ten workers you chose.</p>
        {% endif %}
    </p>
        
<div>To ensure you receive payment, <b>please click the following link</b> to return to Prolific: <a href="https://app.prolific.com/submissions/complete?cc={{player.participant.StudienNumber}}">Back to Prolific</a>.
    <br>If you experience any issues with the link, you can use the survey code: <b>{{player.participant.StudienNumber}}</b>.</div> <br>


<b>Thank you very much for your participation!</b>

<br>


<!--{% next_button %}-->

{% endblock %}
