{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Finished{% endblock %}

{% block content %}
<br>



    <p>
        Unfortunately, you did not pass the comprehension question(s) within the allowed number of attempts, so you are not eligible to continue with the study.
        Please close the survey and click ‘Stop Without Completing’ on Prolific. You will receive &pound;{{ Constants.auszahlungAnQuizVersager|to2 }} as compensation for your time.
        We appreciate your participation and thank you again.

    </p>



<b>Thank you very much for your participation!</b>

<br>




<!--{% next_button %}-->

{% endblock %}
