{{ extends "global/Page.html" }}
{{ load otree }}

{{ block title }}Welcome{{ endblock }}

{{ block content }}

<br>
<div>Welcome to this economic study. The effort you provide here can result in a considerable monetary gain. It is crucial that you read these instructions attentively. In contrast to some other social sciences, economic studies adhere to a strict non-deception policy, ensuring that all information provided to you is accurate.</div>
<br>
<div>This study aims to understand how people make hiring decisions when they have limited information about candidates’ performance. In an earlier part of this study, a large number of individuals, referred to as workers (the <b>job candidates</b> in this part of the study), completed an encoding task: Each worker was asked to translate strings of letters into numbers. The performance of each worker – that is, the number of tasks solved – was recorded.</div>
<br>
<div>Your role now is to act as a <b>manager</b>. You will be presented with pairs of candidates who previously completed the task. Each candidate worked individually, but for the purpose of this study we grouped them into teams of two. For example, you might see: “A team of two candidates solved 150 tasks.” (Note that this number is deliberately unrealistically high.) Based on this team information and some additional details, you will decide which of the two candidates you would like to hire<b>. Your payment will depend directly on the performance of the candidate you hire</b>: the more tasks your chosen candidate solved, the higher your bonus will be. Hiring a candidate who solved fewer tasks will result in a lower bonus.</div>
<br>
<div>The study is divided into three parts: a <u>Practice Part</u>, where you will have the opportunity to try out the encoding task that the candidates completed. This will allow you to familiarize yourself with the task before proceeding to the main part of the study, the <u>Hiring Part</u>. There you can earn money by making hiring decisions. Finally, there will be a short <u>Questionnaire</u>. The Practice Part includes reading the instructions, familiarizing yourself with the task, and answering one comprehension question.</div>
<br>
<div>You must complete the Practice Part successfully before you can proceed to the Hiring Part. If it is not completed successfully, you will only receive the fixed payment of &pound;{{ Constants.auszahlungAnQuizVersager|to2 }} Once you have completed the Practice Part, you will move on to the Hiring Part. There, you can earn money by making a series of hiring decisions. After that, a short questionnaire needs to be completed.</div>
<br>
<div>To <b>receive the study payment</b>, you will earn a fixed amount <b>of &pound;{{ Constants.festerAnteilDerBezahlung|to2 }} plus a bonus</b> that depends directly on the performance of the candidates you hire in the Hiring Part, it is essential to complete the study. Please ensure that to exit this study and claim your payment, you click <b>the "Back to Prolific" link provided upon completion</b> and then enter the completion code. Exiting the study without following this procedure will result in no payment.</div>
<br>
<div>Please note that you cannot exit the study and receive payment until both the Hiring Part and the Questionnaire have concluded. You will <b>not be paid</b> according to your hiring decisions </b>if you leave the study before completing the Hiring Part or the Questionnaire</b>. If you decide to leave before conclusion, you will not be able to participate again.</div>

    <br>
    <b>Please enter your Prolific-ID:</b>

    {% formfield player.ProlificID %}
<br>
<div> Note that you will not be able to go back once you press a "Next" button.</div>
<br>
{{ next_button }}

{{ endblock }}
