{% extends "global/Page.html" %}
{% load otree %}

{% block title %}End of round{% endblock %}

{% block content %}

--------> IHRE Kennung für die Auszahlung : {{ player.participant.AuszahlungUserName }}
<br>


{% if opferPart %}
The recommendation was: {{ group.EntscheiderEmpfehlung  }}<br>
Your choice was: {{ player.Entscheidung }}

{% else %}
Your choice was: {{ player.Entscheidung }}<br>
{% endif %}
<br>
{{ player.participant.zugeordneteRole }}
Auszahlung: {{ player.participant.payoff }}
Auszahlung: {{ player.payoff }}

<!--{% next_button %}-->

{% endblock %}
