
{{ extends "global/CSS_Page.html" }}
{{ load otree }}

{{ block title }}Project information and decision{{ endblock }}

{{ block app_scripts }}
<!-- Soll nicht zurück springen können -->
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{{ endblock }}

{{ block content }}


<div>
    You are the member of your group of G-participants who receives the information on the indicative votes of the four other group members.<br> Your vote determines whether Message A, Message B or Message C will be sent.
</div>

<table style="width:750px;">
    <tr><td colspan="6" class="td2">Project information</td></tr>
    <tr>

        <td colspan="2">
            <b>Project A</b>
        </td>
        <td colspan="2">
            <b>Project B</b>
        </td>
        <td colspan="2">
            <b>Project C</b>
        </td>
    </tr>
    <tr>
        <td>You</td>
        <td>I-participant</td>
        <td>You</td>
        <td>I-participant</td>
        <td>You</td>
        <td>I-participant</td>
    </tr>
    <tr>
        <td>{{auszahlung.0}}</td>
        <td>{{auszahlung.1}}</td>
        <td>{{auszahlung.2}}</td>
        <td>{{auszahlung.3}}</td>
        <td>{{auszahlung.4}}</td>
        <td>{{auszahlung.5}}</td>
    </tr>
    <tr><td colspan="6" class="td2">******** Berater voted to send you the Message <b>{{ beraterEmpfehlung }}</b> </td></tr>
    <tr><td colspan="6" class="td2">Which message will you vote to send to the I-participant?</td></tr>
    <tr>

        <td colspan="2">
            <button name="Entscheidung" value="A" class="btn btn-primary btn-large">Message A:<br>Project A earns you more ...</button>
        </td>
        <td colspan="2">
            <button name="Entscheidung" value="B" class="btn btn-primary btn-large">Message B:<br>Project B earns you more ...</button>
        </td>
        <td colspan="2">
            <button name="Entscheidung" value="C" class="btn btn-primary btn-large">Message C:<br>Project C earns you more ...</button>
        </td>
    </tr>
</table>


{{ endblock }}
